.containerPainel
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 12%);
    border-radius: 20px;
    margin: 20px;
}
.cardBox_retirar .card .iconBx
{
    position: absolute;
    right: 20px;
    opacity: 0.3;
    font-size: 6em;
}
.cardBox_retirar .card .numbers
{
    z-index: 1;
}
.tablePainel{
    overflow-x: auto;
}
.tablePainel table
{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
.responsibleBox
{
    width: 300px;
    margin: 0 auto;
    border: 5px solid var(--grey);
}
.responsibleBox .responsibleTitle
{
    font-weight: 600;
    font-size: 1.5em;
    color: var(--blue);
    padding: 20px 3px;
    margin: 0 auto;
    text-align: center;
}
.responsibleBox .responsibleSelect
{
    width: 100%;
    margin-left: 16px;
}
.cardBox input[type=number]
{
    width: 45px;
    color: var(--black2);
    font-size: 1.1em;
    border: none;
    background: none;
    outline: none;
    padding: 0;
}
.cardBox select 
{
    color: var(--black2);
    font-size: 1.1em;
    border: none;
    background: none;
}
.cardBox select:focus-visible
{
    outline: none;
}
.cardBox select option
{
    color: var(--black1);
}
.tablePainel table tr
{
    border: 5px solid var(--grey);
}
.tablePainel table th
{
    font-weight: 600;
    font-size: 1.5em;
    color: var(--blue);
    padding: 20px 3px;
}
.tablePainel table td
{
    padding: 10px 0;
}
.tablePainel select
{
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
    font-size: 1.2em;
    text-align: center;
}
.tablePainel textarea
{
    padding: 5px;
    width: 98%;
}
.tablePainel input[type=number]
{
    background: none;
    border: 1px solid;
    max-width: 70px;
    padding: 10px;
    text-align: center;
}
.tablePainel input[type=number]:focus
{
    border: 1px solid;
}
.buttonRetirar
{
    position: relative;
    margin-top: 60px;
}
.buttonRetirar button
{
    background: var(--blue);
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.back-register
{
    font-size: 290px;
    top: 15px;
    left: 20px;
    position: absolute;
    opacity: 8%;
}